.header {
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
  background-color: hsla(214, 78%, 4%, 1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 2rem;
}

.explantions {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem;
}

.bold {
  font-weight: 700;
}

form.image-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.images__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.image__wrapper {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 512px;
  width: 100%;
  max-width: 512px;
  margin-bottom: 3rem;
}

.image__wrapper img {
  object-fit: contain;
}
